    * {
        font-family: 'Times New Roman';
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    
    #header {
        background-color: #db2626;
        margin-top: 1%;
        height: 40px;
    }
    
    #logo {
        height: 39px;
        width: 51px;
        background-color: rgb(161, 194, 233);
        border-radius: 50%;
        margin-left: 1%;
        margin-top: 0%;
        position: absolute;
        float: right;
    }
    
    #logo>span {
        margin-left: 23%;
        margin-top: 2%;
        position: absolute;
        font-size: 36px;
        float: right;
    }
    
    #social {
        float: right;
        margin-top: 6px;
    }
    
    .slogo {
        height: 30px;
        width: 95px;
    }
    /*body*/
    
    #heading {
        margin-left: 3%;
        margin-top: -0.5%;
        position: absolute;
        font-size: 50px;
        color: rgb(27, 50, 134);
    }
    
    .card {
        height: 492px;
        width: 27%;
        background-color: #e0ebe9;
        float: left;
        margin-left: 5%;
        margin-bottom: -2%;
        margin-top: 4%;
    }
    
    .card>#heading1 {
        margin-left: 1%;
        margin-top: 2%;
        position: absolute;
        font-size: 48px;
        color: rgb(27, 50, 134);
    }
    
    .card>#heading2 {
        width: 25%;
        margin-left: 1%;
        margin-top: 12%;
        position: absolute;
        background-color: orange;
        font-size: 42px;
        color: rgb(27, 50, 134);
    }
    
    .card>b {
        font: size 20%;
    }
    
    input[type=text],
    select {
        height: 30px;
        width: 40%;
        display: inline-block;
        border: 3px solid #ccc;
        padding: 19px;
        margin: 8px;
    }
    
    #p {
        display: inline-block;
        font-size: 50px;
        text-align: center;
    }
    
    .tileContainer {
        height: 40%;
        width: 45%;
        box-shadow: 10px 20px 40px rgb(36, 34, 34);
        display: inline-block;
        margin-left: 5%;
        margin-top: 4%;
        margin: bottom 2px;
    }
    
    .tileComponent1 {
        width: 50%;
        height: 180px;
        float: left;
    }
    
    .tileComponent1>img {
        margin-top: 1px;
        width: 98%;
        height: 203px;
    }
    
    .tileComponent2 {
        width: 50%;
        height: 180px;
        float: left;
    }
    
    .componentHeading {
        color: #242fcf;
        font-size: 35px;
    }
    
    .componentSubHeading {
        color: rgb(219, 45, 22);
        font-size: 37px;
        margin-right: 5px;
    }
    
    .pagination {
        display: inline-block;
        margin-left: 80px;
    }
    
    .pagination a {
        color: black;
        padding: 6px 31px;
        text-decoration: none;
        margin: right 2px;
    }
    
    .pagination a:active {
        background-color: green;
        color: white;
    }